* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: sans-serif;
}

.header {
    background-color: grey;
    text-align: center;
    font-size: 40px;
    padding: 50px 0;
    background-image: url(https://www.portofhalifax.ca/wp-content/uploads/2016/11/Port-Authority-Header-Background.jpg);
    background-size: cover;
    margin-bottom: 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.315);
}

.container {
    display: flex;    
    min-height: 70%;
}

.navbar {
    min-width: 20%;
}

.navbar ul li {
    list-style: none;
    background: rgb(73, 73, 245);
    margin: 0 20px 10px 20px;
    color: white;
    text-align: center;
    border-radius: 10px 0 10px 0;
    padding: 15px 0;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.content {
    width: 80%;
    background: rgb(230, 222, 222);
    margin: 0 20px 40px 0;
    border-radius: 35px 0 35px 0; 
    flex-grow: 1;
}

.content > h1, .content > p {
    padding: 10px 15px;
}

.footer {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background: rgb(230, 222, 222);
}